<span style='color: #000' title='Frames'>   611</span><span style='color: #009' title='Memory'> 104960.00 KB</span><span style='color: #900' title='Time'>    199.84 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />