.elementor-435 .elementor-element.elementor-element-4cafda3{text-align:center;}.elementor-435 .elementor-element.elementor-element-4cafda3 .elementor-heading-title{color:#000000;}.elementor-435 .elementor-element.elementor-element-f5792dd{color:#000000;}